- @title = "Атрибут #{@attr.attribute_rus_name}"

h1 Атрибут "#{@attr.attribute_rus_name}"
h1 Alias "#{@attr.attribute_name}"

/удаление
.form-inline
  .form
    = link_to 'Удалить атрибут', @attr, data: { confirm: 'Уверен?' }, method: 'delete'