- @title = "Аттрибут #{@attr.attribute_rus_name}"

h1 Аттрибут "#{@attr.attribute_rus_name}"
h1 Alias "#{@attr.attribute_name}"

/удаление
.form-inline
  .form
    = link_to 'Удалить аттрибут', @attr, data: { confirm: 'Уверен?' }, method: 'delete'