.owl-carousel{
  margin-top:50px;
  margin-bottom: 50px;

  & .owl-item{

    & .confidence_img img{
      height: 40px;
      margin-right: 80px;
    }
  }
}
.h5_content{
  font-size: 30px;
  font-weight: bold;
  color: #2f4962;
  text-transform: uppercase;
  margin-top: 55px;
  margin-bottom: 30px;
  text-align: center;
  border-top: 1px solid #e8e7e7;
  padding-top: 40px;
}