.main_blocks_content{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.main_block_content_1{
  width: 50%;
}
.main_block_content_2{
  width: 45%;
}
.h1_content{
  font-size: 34px;
  font-weight: bold;
  color: #2f4962;
}
.h2_content{
  font-size: 24px;
  font-weight: bold;
  color: #2f4962;
  margin-bottom: 30px;
}
.h4_content{
  font-size: 18px;
  font-weight: bold;
  color: #2f4962;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}
.h3_content{
  font-size: 18px;
  font-weight: bold;
  color: #2f4962;
  margin-top: 30px;
  margin-bottom: 30px;
}
.all_products{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;


}

.img_category, .img_product{

  position: relative;
  margin-bottom: 30px;
  margin-right: 20px;

  & img{
    border-radius: 10px;
  }

  & .img_background_name{
    position: absolute;
    background: black;
    width: 100%;
    height: 80px;
    bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: .7;
  }

  & .img_category_name, .img_product_name{
    position: absolute;
    bottom: 0px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    height: 80px;
    width: 100%;
    padding: 15px;
  }
}



@media only screen and (max-width: 1000px) {

  .swiper-container, .owl-carousel{
    display: none !important;
  }
  .all_products{
    display: block;
  }
  .img_category, .img_product {
    margin-right: 60px;
    margin-left: 50px;
  }
  .img_category img, .img_product img {
    width: 100%;
  }
  .img_category .img_background_name, .img_product .img_background_name {
    height: 170px;
  }
  .img_category .img_category_name, .img_category .img_product_name, .img_product .img_category_name, .img_product .img_product_name {
    height: 116px;
    font-size: 28px;
    text-align: center;
  }
  .main_blocks_content {
    display: block;
  }
  .main_block_content_1,.main_block_content_2 {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .main_block_content_1{
    & img {
      width: 100%;
    }
  }
  .h1_content {
    font-size: 50px;
  }
  .h4_content {
    font-size: 33px;
  }
  .h3_content {
    font-size: 33px;
  }
  .h2_content {
    font-size: 36px;
    margin-top: 60px;
  }
  .content {
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .h5_content {
    font-size: 45px;
    margin-top: 230px;
  }
  .h5_content_down{
    display: none;
  }
  h1{
    font-size: 60px;
  }
  h3{
    font-size: 40px;
  }
  h4{
    font-size: 40px;
  }


}