@media (min-width: 1190px) and (max-width: 1500px) {

  .modal_forma {
    left: 22%;
    top: 18%;
  }

}

@media (min-width: 850px) and (max-width: 1190px) {

  .modal_forma {
    left: 12%;
    top: 18%;
  }

}