.product_features{

}
.product_img{
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}
.product_description{

  & table{
    width: 60%;

    & th{
      text-align: center;
    }
    & td{

    }
  }

}
.description_name{
  font-size: 20px;
  font-weight: bold;
}
.block_info_product{
  border: 1px solid #e0e0e0;
  padding: 30px;
  background-color: #f7f7f7;
  margin-bottom: 60px;
}