.product_features{

}
.product_img{
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}
.product_description{

  & .product_description_title{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
  }

  & table{
    width: 60%;

    & th{
      text-align: center;
    }
    & td{

    }
  }

}
.description_name{
  font-size: 20px;
  font-weight: bold;
}
.block_info_product{
  border: 1px solid #e0e0e0;
  padding: 30px;
  background-color: #f7f7f7;
  margin-bottom: 60px;
}
.product_price{
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 40px;
  color: #3d6c8c;
}
.input_with_delete_block_1{
  float: left;
}


@media only screen and (max-width: 1000px) {

  .product_img {
    float: none;
    margin-right: 0px;
    margin-bottom: 0px;

    & img{
      width: 100%;
    }
  }
  .product_price {
    font-size: 66px;
  }
  .product_description .product_description_title {
    font-size: 55px;
    margin-top: 66px;
  }
  .product_description table {
    width: 100%;
  }
  .product_description .table-striped tr td{
    font-size: 30px;
    padding: 66px;
  }









}