- @title = 'Добавление нового товара'

h1 Добавление нового товара

#select-option-products
  = select_tag :cards, options_from_collection_for_select(@cards, :id, :card_name)


.select-option-products

.success style=('display: none;')  Товар добавлен
.error style=('display: none;') Такое название уже есть в базе!